@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  padding: 20px;
}
article > .post > h2 {
  font-size: 32px;
}
.post {
  margin-top: 20px;
}
.post p {
  color: #2d2e30;
}
.btn-start,
.btn-next {
  background-color: #0088ff;
  border-color: #0088ff;
  border-radius: 1px;
  color: white;
}
.btn-other {
  background-color: #0088ff;
  border-color: #0088ff;
  border-radius: 1px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 336px;
}
